<!DOCTYPE html>
<html>

<!-- Nutze ein CSS Template von www.w3schools.com/w3css/w3css_templates.asp  -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button,form {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>

<head>
<meta charset="ISO-8859-1">
<title>Excel Rechner</title>
</head>

<header class="w3-container w3-green w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">BERECHNUNG ERFOLGREICH</h1>
  <p class="w3-xlarge">Lade die Ergebnisse herunter oder gib eine neue Datei an.</p>
  
  <!-- Knopf um die berechnete Excel Datei herunterzuladen  -->
  <form method="get" action="download" >
	<input type="submit" value="Download" />
  </form>
  
  <!-- Knopf um zurück zum Anfang der Anwendung zu kommen  -->
  <br>
  <form method="get" action="/" >
	<input type="submit" value="Zum Anfang" />
  </form>
</header>

</html>